/* Contact Page */
Body {
    background-image: repeating-linear-gradient(-45deg,
            #f8f8f8,
            #f8f8f8 10px,
            #ececec 50px,
            #ececec 200px);
}

section.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    height: 80%;
    background-color: rgba(165, 153, 189, 0.123);
    backdrop-filter: blur(15px);
    border-radius: 20px;
    box-shadow: 1px 1px 5px grey;
    margin: auto;
    margin-bottom: 3em;
}

section.contact>div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -2em;
}

section.contact>div.left>form {
    width: 90%;
    margin: auto;
    margin-top: 3em;
    justify-content: center;
    align-items: center;
}

section.contact>div.left>form * {
    border-radius: 3em;
    text-align: center;
    margin-bottom: 1em;
}

section.contact>div.left>form>div.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

section.contact>div.right {
    display: grid;
    grid-template-rows: 1fr 2fr;
}

div.right>img {
    max-height: 28em;
}

section.sociallinks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
    margin: 2em;
    padding-top: 2em;
}

section.sociallinks>div {
    border-radius: 10px;
    width: 100px;
    height: 100px;
    transition: 0.3s;
    display: block;
    margin: auto;
}

section.contact>div.right>section.sociallinks>div:hover {
    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.466));
}

@media screen and (max-width: 980px) {
    section.contact {
        grid-template-columns: 1fr;
    }
}

textarea {
    resize: vertical;
    height: 200px;
}