@import url("uikit-rtl.css");
@import url("uikit.css");
:root {
    --white-color: #ffffff;
    --black-color: #000000;
    --dark-color: #2c3e50;
    --lighter-color: #ecf0f1;
    --light-color: #bdc3c7;
    --primary-color: #3498db;
    --secondary-color: #34495e;
    --glass-color: rgba(250, 250, 250, 0.25);
}
div.uk-navbar-center {
    width: 100%;
}
ul.uk-navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--lighter-color);
    width: 100%;
    margin-bottom: -1em;
}
.primary {
    background-color: var(--primary-color);
}
.secondary {
    background-color: var(--secondary-color);
}
.white {
    background-color: var(--white-color);
}
.black {
    background-color: var(--black-color);
}
.dark {
    background-color: var(--dark-color);
}
.lighter {
    background-color: var(--lighter-color);
}
.light {
    background-color: var(--light-color);
}
.glass {
    background-color: var(--glass-color);
}
