@import url("uikit-rtl.css");
@import url("uikit.css");



h1 {
    color: rgb(136, 136, 136);
    text-decoration: underline;
    justify-content: center;
    display: flex;
    text-transform: capitalize;
    font-size: 3em;
    font-weight: bold;
}

section.main {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(47, 41, 65);
}
section.main>div {
    width: 75%;
    aspect-ratio: 16/9;
}