{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}
<link rel="stylesheet" href="../static/css/about.css">
<section class="aboutme">
    <div>
        <img class="ramen" src="../static/png/ramen.png" alt="ramen">
    </div>
    <div>
        <h1 class="anim">About Me</h1>
        <p class="anim">
            I am a software engineer with a passion for creating beautiful,
            intuitive, and user-friendly applications. I am a self-taught 
            programmer with a facination
            for machine learning and cryptocurrencies.
        </p>
        <p class="anim">
            I am a graduate of the Revature's .Net Full-Stack
            Development Bootcamp. I use Python, JavaScript, and C# to build
            applications. 
            I also make incredible ramen bowls! 😊
        </p>
    </div>
</section>
<section class="sociallinks">
    <div><a href="https://www.linkedin.com/in/mathmagicmachine/">
            <img class="leftimage" src="https://upload.wikimedia.org/wikipedia/commons/e/e9/Linkedin_icon.svg" 
                alt="LinkedIn"></a>
    </div>
    <div ><a href="https://www.github.com/BrianStinerGithub/">
            <img class="rightimage" src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg" 
                alt="Github" /></a>
    </div>
</section>
<h3 class="sociallinks">click the titles below to get my documents</h3>
<section>
    <div class="left" >
        <a href="{{ url_for('static', filename='pdf/revatureportfolio.pdf') }}">
            <h1>Portfolio</h1>
        </a>
        <object data="{{ url_for('static', filename='pdf/revatureportfolio.pdf') }}" type="application/pdf">
            <embed src="{{ url_for('static', filename='pdf/revatureportfolio.pdf') }}" type="application/pdf">
        </object>
    </div>
    
    <div class="right">
        <a href="{{ url_for('static', filename='pdf/resume.pdf') }}">
            <h1>Resume</h1>
        </a>
        <object data="{{ url_for('static', filename='pdf/resume.pdf') }}" type="application/pdf">
            <embed src="{{ url_for('static', filename='pdf/resume.pdf') }}" type="application/pdf">
        </object>
    </div>
</section>

<script>
    gsap.timeline({defaults: {duration: .7, opacity: 0}})
    .from(".aboutme",       { x: -200 })
    .from(".anim",          { y: -100, stagger: 0.8 }, "<")
    .from(".sociallinks",   { y: -100 })
    .from(".left",          { x: -100 })
    .from(".right",         { x: 100 }, "<")

</script>
{% endblock %}