<!DOCTYPE html>
<html lang="en">

<head>
    <title>Portfolio</title>
    <!--- Load css. -->
    <link type="text/css" rel="stylesheet" href='static/style.css' />
</head>

<h1>Brian Stiner</h1>
<section class="links">
    <a href="https://www.linkedin.com/in/mathmagicmachine/"><img
            src="https://upload.wikimedia.org/wikipedia/commons/c/c9/Linkedin.svg" alt="linkedin" /></a>
    <a href="https://www.github.com/BrianStinerGithub/"><img
            src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg" alt="github" /></a>
</section>