<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Base{% endblock %}</title>
    <!--- Load css. -->
    {% block style %}<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />{% endblock %}
    <!--- Load google marterial icons. -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" crossorigin>
    <!--- Load javascript code -->
    <script src="{{ url_for('static', filename='js/script.js') }}" crossorigin></script>
    <script src="{{ url_for('static', filename='js/uikit.min.js') }}" crossorigin></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/gsap-latest-beta.min.js"></script>
    
</head>
<body>
    <!-- navbar -->
    <nav class="uk-navbar-container uk-margin uk-navbar-transparent" uk-navbar>
        <div class="uk-navbar-center">
            <ul class="uk-navbar-nav">
                <li><a href="{{ url_for('portfolio') }}">Portfolio</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
            </ul>
        </div>
    </nav>
    <!-- content -->
    {% block content %}
    {% endblock %}

    <!-- footer -->
    <footer class="uk-section uk-section-secondary uk-padding-remove-top black">
    </footer>
</body>
