{% extends "base.html" %}
{% block style %}<link rel="stylesheet" href="../static/css/contact.css">{% endblock %}
{% block title %}Contact{% endblock %}
{% block content %}
    <!-- icon link variables -->
    {% set github_icon = 'https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg' %}
    {% set linkedin_icon = 'https://upload.wikimedia.org/wikipedia/commons/e/e9/Linkedin_icon.svg' %}
    {% set email_icon = 'https://upload.wikimedia.org/wikipedia/commons/5/5f/Email_Silk.svg' %}
    {% set communication_image = 'https://i.ibb.co/6bf16Kx/communication.png' %}
    
    <!-- contact form sends email to me-->
    <section class="contact">
        <div class="left">
            
            <form class="uk-form-stacked" action="https://formsubmit.co/cee6c0a1a43c1d71f04af8472400587c" method="POST">
                <div><h1>Send me an Email!</h1></div>
                <div class="uk-form-controls">
                    <input class="uk-input" id="form-stacked-text" type="text" name="name" placeholder="Your name" required>
                </div>
                <div class="uk-form-controls">
                    <input class="uk-input" id="form-stacked-text" type="email" name="email" placeholder="Your email" required>
                </div>
                <div class="uk-form-controls">
                    <textarea class="uk-textarea" id="form-stacked-text" name="message" placeholder="Your message" required></textarea>
                </div>

                <div class="button">
                    <button class="uk-button uk-button-primary" type="submit">Send</button>
                </div>

            </form>
        </div>
        <div class="right">
            <section class="sociallinks">
                <div ><a href="https://www.linkedin.com/in/mathmagicmachine/">
                        <img class="leftimage" src="{{ linkedin_icon }}" 
                            alt="LinkedIn"></a>
                </div>
                <div ><a href="https://www.github.com/BrianStinerGithub/">
                        <img class="rightimage" src="{{ github_icon }}" 
                            alt="Github" /></a>
                </div>
            </section>
            <img class="communicationimage" 
                src="{{ communication_image }}" 
                alt="communication image">
        </div>
    </section>
    <script>
        gsap.timeline({defaults: {duration: 1, opacity: 0, ease: "power2.out"}})
        .from(".communicationimage", { })
        .from(".leftimage",     { x: -150, rotation: -180 })
        .from(".rightimage",    { x: 150, rotation: 180 }, "<")
        .from(".left",          { x: -100 });
    </script>
{% endblock %}