<!DOCTYPE html>
<html lang="en">
<head>
    <title>Portfolio</title>
    <!--- Load css. -->
    <link type="text/css" rel="stylesheet" href='../css/style.css' />
    <link type="text/css" rel="stylesheet" href='../css/uikit.css' />
    <!--- Load google marterial icons. -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" crossorigin>
    <!--- Load javascript code -->
    <script src='../js/script.js' ></script>
    <script src='../js/uikit.js' ></script>

</head>
<body>
    <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow>

        <ul class="uk-slideshow-items">
            <li>
                <img src="http://unsplash.it/300/300?gravity=center" alt="" uk-cover>
            </li>
            <li>
                <img src="http://unsplash.it/300/300?gravity=center" alt="" uk-cover>
            </li>
            <li>
                <img src="http://unsplash.it/300/300?gravity=center" alt="" uk-cover>
            </li>
        </ul>

        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
            uk-slideshow-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
            uk-slideshow-item="next"></a>
        <div class="material-icons" id="likeButton"">thumb_up</div>

    </div>

</body>